/* Navbar.css */
*{
    color: black;
}
.image-container {
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;
  }
  
  .main-image {
    width: 100%;
    height: auto;
  }
  
  .navbar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo {
    width: 15rem;
    height: 7rem;
  }
  
  .nav {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  .nav-item {
    margin-right: 15px;
  }
  
  .nav-link {
    color: #fff; /* Adjust the link text color as needed */
    text-decoration: none;
  }
  
